@media screen and (max-width: 767px) {

    .wrapper{
        width: 300px;
    }

    .left{
        width: 100px;
    }

    .right{
        width: 200px;
    }

    .upper-left{
        width: 125px;
    }

    .upper-right{
        width: 75px;
    }

}